:root {
  --blue1: #172038;
  --blue2: #253a5e;
  --blue3: #3c5e8b;
  --blue4: #4f8fba;
  --blue5: #73bed3;
  --blue6: #a4dddb;

  --purple1: #1e1d39;
  --purple2: #402751;
  --purple3: #7a367b;
  --purple4: #a23e8c;
  --purple5: #c65197;
  --purple6: #df84a5;

  --green1: #19332d;
  --green2: #25562e;
  --green3: #468232;
  --green4: #75a743;
  --green5: #a8ca58;
  --green6: #d0da91;

  --red1: #241527;
  --red2: #411d31;
  --red3: #752438;
  --red4: #a53030;
  --red5: #cf573c;
  --red6: #da863e;
  --white: #ebede9;
  --black: #090a14;

  font-size: 16px;
}

@font-face {
  font-family: topaz;
  src: url(./topaz.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  background-color: var(--purple1);
  font-family: topaz, monospace;
  color: var(--white);
  /* image-rendering: pixelated !important; */
}

.offers {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  background-color: var(--purple1);
  padding: 0.3rem;
  width: 292px;
  height: 200px;
  margin: 0 0 0.4rem 0;

  overflow-y: scroll;
}

.renters {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  background-color: var(--purple1);
  padding: 0.3rem;
  width: 292px;
  height: 172px;
  /* margin: 0.0rem 0 0 0; */
  overflow-y: scroll;
}

.sb::-webkit-scrollbar-track {
  background-color: var(--purple3);
}
.sb::-webkit-scrollbar {
  width: 1rem;
}
.sb::-webkit-scrollbar-thumb {
  background-color: var(--purple5);
}
.offer {
  display: flex;
  gap: 0.2rem;
  font-size: 0.7rem;
  background-color: var(--purple2);
  padding: 0.32rem;
}
.offer:hover {
  background-color: var(--purple6);
}
.offer-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--blue3);
  padding: 0.4rem;
}
.space {
}
.space::after {
  content: ' Mb';
}
.rent {
  white-space: pre;
}
.rent::after {
  content: '/s';
}
.rent::before {
  content: '$';
}

.actions {
  display: flex;
  /* flex-direction: column; */
  gap: 0.2rem;
}

.actions > * {
  font-size: 0.5rem;
  text-align: center;
  padding: 0.2rem;
  line-height: 1rem;
}

.accept {
  background-color: var(--green1);
  /* color: var(--green6); */
}

.reject {
  background-color: var(--red3);
  /* color: var(--red6); */
}

.eject {
  background-color: var(--red3);
}

.sort-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--red3);
  padding: 0.1rem;
  margin: 0 0 0rem 0;
  /* gap: 1rem; */
  font-size: 0.56rem;
}
.space-btn,
.rent-btn {
  font-size: 0.5rem;
  background-color: var(--red2);
  color: var(--red6);
  padding: 0.2rem 1.4rem;
}

.hov:hover {
  filter: brightness(2.5);
}

.hov:active {
  filter: saturate(1) brightness(0.7);
}

.cover {
  background-color: var(--black);
  width: 100% !important;
  height: 100% !important;
}

#tobe1 {
  display: none;
}
.dead {
  pointer-events: none !important;
  filter: saturate(0);
}
